<div class="box box-success">
  <div class="box-header">
    <h3 class="d-inline-block">User Management</h3>
    <div class="float-end">
      <%= linkTo(authUsersCreatePath(), {class: "btn btn-success"}) { %> Create
      New User <% } %>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-hover table-bordered">
      <thead class="thead-light">
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Address</th>
        <th>Action</th>
      </thead>
      <tbody>
        <%= for (user) in users { %>
        <tr>
          <td><%= user.Name%></td>
          <td><%= user.Email%></td>
          <td><%= user.Mobile%></td>
          <td><%= user.Address%></td>
          <td>
            <div class="float-end">
              <%= linkTo(authUsersShowIDPath({ ID: user.ID }), {class: "btn btn-info", body: "View"}) %>
              <%= linkTo(editAuthUsersIDPath({ ID: user.ID }), {class: "btn btn-warning", body: "Edit"}) %>
              <%= linkTo(authUsersDeleteIDPath({ ID: user.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
            </div>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class="footer">
    <div class="text-center"><%= paginator(pagination) %></div>
  </div>
</div>
