<div id="sidebar-wrapper">
  <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
     <li class="active">
        <a href="<%= authPath() %>"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> Dashboard</a>
     </li>

     <li>
      <a href="<%= authUsersPath()%>"><span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x "></i></span>Users Management</a>
      </li>
      <li>
      <a href="<%= authBooksPath()%>"><span class="fa-stack fa-lg pull-left"><i class="fa fa-book fa-stack-1x "></i></span>Books Management</a>
      </li>
     <!-- <li>
        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x "></i></span>Users Management</a>
        <ul class="nav-pills nav-stacked" style="list-style-type:none;">
           <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>link1</a></li>
           <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>link2</a></li>
        </ul>
     </li> -->
  </ul>
</div>