<div class="box box-primary">
    <div class="box-header">
      <h3 class="d-inline-block">New AssignBook</h3>
    </div>
    <div class="box-body">
      <%= formFor(assignBook, {action: authAssignBooksPath(), method: "POST"}) { %>
        <%= partial("backend/assign_books/form.html") %>
      <% } %>
    </div>
</div><!-- /.box -->


<% contentFor("afterScripts") { %>
<script>
  jQuery(document).ready(function () {
    $(".books-select2").select2({
      placeholder: 'Select an option',
      minimumInputLength: 0,
      multiple: true,
      allowClear: true,
      ajax: {
        url: "<%=authAssignBooksGetBooksPath()%>",
        dataType: "json",
        data: function (params) {
          return {
            q: jQuery.trim(params.term),
          };
        },
        processResults: function (data) {
          return {
            results: data.map(function (book) {
              return {
                id: book.id,
                text: "("+book.book_no+") "+book.title,
              };
            }),
          };
        },
        cache: true,
      },
    });

    $(".customers-select2").select2({
      placeholder: 'Select an option',
      minimumInputLength: 0,
      allowClear: true,
      ajax: {
        url: "<%=authAssignBooksGetCustomersPath()%>",
        dataType: "json",
        data: function (params) {
          return {
            q: jQuery.trim(params.term),
          };
        },
        processResults: function (data) {
          return {
            results: data.map(function (customer) {
              return {
                id: customer.id,
                text: "("+customer.email+") "+customer.name,
              };
            }),
          };
        },
        cache: true,
      },
    });
    jQuery(".books-select2").change(function(){
      var bookIds = $(this).val()
      for (var i = 0; i < bookIds.length; i++) {
          callAjax(bookIds[i])
      }
    })
  });

  function callAjax(bookID)
  {
    
  }
</script>
<% } %>
