<div class="py-4 mb-2">
  <h3 class="d-inline-block">AssignBook Details</h3>

  <div class="float-end">
    <%= linkTo(assignBooksPath(), {class: "btn btn-info"}) { %>
      Back to all AssignBooks
    <% } %>
    <%= linkTo(editAssignBookPath({ assign_book_id: assignBook.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(assignBookPath({ assign_book_id: assignBook.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">

</ul>
