
<div class="box box-success">
  <div class="box-header">Edit Book</div>
  <div class="box-body">
    <%= formFor(book, {action: authBookPath({ book_id: book.ID }), method:
    "PUT"}) { %> <%= partial("backend/books/form.html") %> <% } %>
  </div>
</div>
<% contentFor("afterScripts") { %>
<script>
  jQuery(document).ready(function () {
    jQuery(".categories-select2").select2({
      // theme: "bootstrap",
      placeholder: 'Select an option"',
      minimumInputLength: 0,
      allowClear: true,
      ajax: {
        url: '<%=authCategoriesPath()%>',
        dataType: "json",
        data: function (params) {
          return {
            q: jQuery.trim(params.term),
          };
        },
        processResults: function (data) {
          return {
            results: data.map(function (category) {
              return {
                id: category.id,
                text: category.category_name
              };
            })
          };
        },
        cache: true,
      },
    });
  });
</script>
<% } %>
