<div class="box box-success">
  <div class="box-header">
    Books Management
    <div class="pull-right">
      <%= linkTo(newAuthBooksPath(), {class: "btn btn-primary"}) { %> Create New
      Book <% } %>
    </div>
  </div>
  <div class="box-body">
    <div class="table-responsive">
      <table id="books-table" class="table table-hover table-bordered">
        <thead class="thead-light">
          <th>Picture</th>
          <th>Title</th>
          <th>Category Name</th>
          
          <th>Book No</th>
          <th>Author</th>
          <th>Price</th>
          <th>Status</th>
          <th>Updated At</th>
          <th>Actions</th>
        </thead>
      
      </table>
    </div>
  </div>
  <div class="box-footer">
    <div class="text-center"><%= paginator(pagination) %></div>
  </div>
</div>

<% contentFor("afterScripts") { %>
<script>
    $(document).ready(function () {
      globalTableData = $('#books-table').DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: '<%=authBooksIndexPath()%>',
                type: 'GET',
            },
            lengthMenu: [20,50,60],
            dom: 'lfptrip',
            columns: [
                  
                {data: 'picture_path', name: 'picture_path', orderable: false, searchable: false},
                {data: 'title', name: 'title'},
                {data: 'category_name', name: 'category_name'},
                {data: 'book_no', name: 'book_no'},
                {data: 'author', name: 'author'},
                {data: 'price', name: 'price'},
                {data: 'status', name: 'status'},
                {data: 'updated_at', name: 'updated_at'},
                {data: 'actions', name: 'actions', orderable: false, searchable: false},
            ],
            "drawCallback": function () {
              $('.dataTables_paginate > .pagination').addClass('pagination');
          }
        });
    });
</script>
<%}%>
