<div class="box box-primary">
  <div class="box-header">Create a book</div>
  <div class="box-body">
    <%= formFor(book, {action: authBooksPath(), method: "POST"}) { %> <%=
    partial("backend/books/form.html") %> <% } %>
  </div>
</div>

<% contentFor("afterScripts") { %>

<script>
  jQuery(document).ready(function () {
    jQuery(".categories-select2").select2({
      // theme: "bootstrap",
      placeholder: 'Select an option"',
      minimumInputLength: 0,
      allowClear: true,
      ajax: {
        url: "<%=authCategoriesPath()%>",
        dataType: "json",
        data: function (params) {
          return {
            q: jQuery.trim(params.term),
          };
        },
        processResults: function (data) {
          return {
            results: data.map(function (category) {
              return {
                id: category.id,
                text: category.category_name,
              };
            }),
          };
        },
        cache: true,
      },
    });
  });
</script>
<% } %>
